{% import "_macros.html" as ui %}
<aside class="auth-art">
  <div class="art" aria-hidden="true">
    <span class="c c1"></span><span class="c c2"></span><span class="c c3"></span><span class="c c4"></span>
    <img class="l l1" src="{{ url_for('static', filename='img/arcs-white.svg') }}" alt="">
    <img class="l l2" src="{{ url_for('static', filename='img/arcs.svg') }}" alt="">
  </div>
  <div class="content">{{ ui.logo(url_for('index')) }}</div>
  <div class="content">
    <h2>Your urine test,<br><b>read in seconds.</b></h2>
    <p>Photograph a 10-pad test strip and get a clear, colour-matched report that your clinician can review.</p>
  </div>
  <p class="foot">A screening aid, not a medical diagnosis.</p>
</aside>
